/* From Uiverse.io by satyamchaudharydev */ 
/* inspired form gumroad website */
.button {
  --bg: #000;
  --hover-bg: #17537f;
  --hover-text: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.2em 0.5em;
  background: var(--bg);
  transition: 0.2s;
}

.button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .button {
    padding: 0.2em 0.5em; /* Reducir el padding */
    font-size: 0.8em; /* Reducir el tamaño de la fuente */
  }
}